@use '../../1-base/variables'
.header
  background-color: variables.$header-bg-color
  
  h1
    font-family: variables.$header-font-title
    font-size: 2rem
    color: variables.$header-title-color
