.container-header {
  background-color: darkblue;
  height: 150px;
  text-align: center;
}

.title {
  margin: 0;
  padding: 0;
  color: #fff;
  padding-top: 30px;
}

.container-body {
  margin: auto;
  max-width: 980px;
  margin-bottom: 50px;
}

.container-table table {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow:  0px 0px 5px #ccc;
  border-radius: 10px;
  margin-top: 20px;
}

.container-table th {
  padding: 10px 0;
  text-align: center;
}

.table-colum {
  padding: 10px 0;
  text-align: center;
}

.container-style-category {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}

.container-info-area {
  background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: -40px;
  display: flex;
  align-items: center;
}

.container-month-area {
  flex: 1;
  display: flex;
  align-items: center;
}

.monthArrow {
  width: 40px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.monthTitle {
  flex: 1;
  text-align: center;
}

.container-resume-area {
  flex: 2;
  display: flex;
}

.container-resume-item {
  flex: 1; 
}

.container-resume-title {
  text-align: center;
  font-weight: bold;
  color: #888;
  margin-bottom: 5px;
}

.container-resume-value {
  text-align: center;
  font-weight: bold;
  color: black;
}