@font-face {
  font-family: Starjhol;
  src: url('../fonts/star_jedi/starjedi/Starjhol.ttf') format('truetype');
}

.container-light-saber {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 65vh;
}

.title-loading {
  text-align: center;
  font-size: 2em;
  font-family: Starjhol;
}


.container-saber {
  position: relative;
  /* align-items: center;
  display: flex;
  justify-content: center; */
  margin-top: 30px;
  /* background-color: red; */
  height: 200px;
  width: 500px;
}

/* .handle {
  height: 20px;
  width: 25%;
  background-color: #777;
  border-radius: 50px;
  border: 4px solid #000;
} */

/* .handle::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 88px;
  height: 40px;
  width: 20px;
  background-color: #ccc;
  border-radius: 50px;
  border: 4px solid #000;
  z-index: 1;
} */


.img-saber {
  position: absolute;
  top: 30px;
  left: -30px;
  height: 185px;
  transform: rotate(90deg);
  z-index: 1;
}

.laser {
  position: absolute;
  top: 117.5px;
  left: 110px;
  height: 15px;
  width: 75%;
  border-radius: 50px;
}

.animation {
  animation: 2s linear infinite running saberLaser;
}

.green {
  background: rgba(0, 255, 98, 0.918);
  box-shadow: 0 0 15px 15px #11fbad7c;
}

.blue {
  background: rgb(55, 0, 255);
  box-shadow: 0 0 15px 15px #2811fb7a;
}

.yellow {
  background: rgb(208, 255, 0);
  box-shadow: 0 0 15px 15px #d0fb117a;
}

.red {
  background: rgb(255, 0, 0, 0.972);
  box-shadow: 0 0 15px 15px #fb111177;
}

@keyframes saberLaser {
  0% { width: 0%;}
}