.container-table {
  padding: 20px;
}

.container-table table {
  border-collapse: collapse;
}

.container-table table td {
  background-color: black;
  border: 1px solid white;
  padding: 5px;
  text-align: center;
}

.container-table table td a {
  color: rgb(255, 197, 0);
}

.table-title {
  color: white;
  font-size: 1.15em;
  font-weight: 700;
}
