body {
  align-items: center;
  background-image: url('../images/starWarsGalaxy.png');
  background-repeat: repeat;
  color: rgb(255, 197, 0);
  /* display: flex; */
  /* font-family: News Cycle , sans-serif; */
  font-weight: 400;
  /* height: 100vh; */
  justify-content: center;
  /* line-height: 1.25; */
  /* overflow: hidden; */
  /* width: 100vw; */
}

.container-header {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: center;
}

.img-logo-starWars {
  width: 8vw;
}

.container-filter {
  align-items: center;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  display: flex;
  margin-top: 10px;
}

.container-options-filter, .container-order {
  align-items: center;
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0;
  width: 35vw;
}

.container-options-filter form select, input {
  border-radius: 5px;
  margin: 0 5px;
}

.container-options-filter input[ type = 'submit' ], input[ type = 'button' ] {
  background-color: black;
  border-color: rgb(255, 197, 0);
  color: rgb(255, 197, 0);
  height: 25px;
  margin-top: 10px;
  width: 120px;
}

.container-options-filter input[ type = 'submit' ]:hover, input[ type = 'button' ]:hover {
  color: white;
  cursor: pointer;
}

/* .container-order {
  align-items: center;
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0;
  width: 35vw;
} */