.container-header {
  background-color: rgba(0, 41, 106, 255);
  height: 10vh;
}

.container-form {
  background-image: linear-gradient(rgba(0, 41, 106, 255), black);
  height: 10vh;
}

.container-table {
  background-color: blue;
  height: 70vh;
}

.container-footer {
  background-color: gray;
  height: 10vh;
}
