.container-header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.container-logo {
  display: flex;
}

.icon-money {
  color: green;
  font-size: 3em;
}

.container-logo h1 {
  font-size: 2em;
}