.container-header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.container-logo {
  display: flex;
  position: relative;
}

.icon-money {
  color: green;
  font-size: 3em;
  margin: 0 15px;
}

.container-logo h1 {
  font-size: 2em;
}

.container-login-position {
  background-color: yellow;
  align-items: center;
  display: flex;

  right: 5vw;
  padding: 5px 20px;
  position: absolute;
}

.container-login {
  margin-right: 20px;
}

.icon-user-login {
  font-size: 1.3em;
}